#teachers-container {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  color: blue;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgb(2, 0, 17);
  font-weight: 400;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Title styles */
#teacher-list-title {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Add button styles */
#add-button {
  background-color: #ffffff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

#add-button:hover {
  background-color: #0056b3;
}

/* Table styles */
table {
  padding-top: 20px;
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #cacaca;
  padding: 8px;
  text-align: left;
}

/* Responsive design */
@media (max-width: 1024px) {
  #teacher-list-title {
    font-size: 22px;
  }

  #add-button {
    padding: 10px 18px;
  }

  table th,
  table td {
    padding: 6px;
  }
}

@media (max-width: 768px) {
  #teacher-list-title {
    font-size: 20px;
  }

  #add-button {
    padding: 8px 16px;
  }

  table th,
  table td {
    padding: 6px;
    font-size: 14px;
  }

  /* Center-align table header cells for smaller screens */
  table th {
    text-align: center;
  }
}

@media (max-width: 480px) {
  #teacher-list-title {
    font-size: 18px;
  }

  #add-button {
    padding: 8px 14px;
  }

  table th,
  table td {
    padding: 4px;
    font-size: 12px;
  }
}
@media (max-width: 320px) {
  table th,
  table td {
    padding: 2px;
    font-size: 9px;
  }
}
@media (max-width: 360px) {
  #teacher-list-title {
    font-size: 16px;
  }

  #add-button {
    padding: 6px 12px;
  }

  table th,
  table td {
    padding: 3px;
    font-size: 10px;
  }
}
